.title {
  color: #fb8261;
  }

.iframe {
  border: none;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.item {
  flex: 1;
  justify-self: center;
  width: 100%;
  height: auto; 
}

.underText {
  margin-top: .1%;
  color: #61dafb;
}